.products-wrapper {
  display: flex;
}
.products-wrapper .product-item {
  width: 22%;
  margin-left: 20px;
  margin-top: 20px;
}
.products-wrapper .product-item img {
  width: 100%;
  height: 150px;
  padding: 3px;
  border: 2px dashed rgba(0, 0, 0, 0.747);
}

.product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Btn,
.Btn::after {
  width: 100%;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #E35049 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 45px;
  box-shadow: 6px 0px 0px #72B9B5;
  outline: transparent;
  position: relative;
}

.Btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Add to cart ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.Btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
.prod-info img {
  display: block;
  width: 20%;
  margin: 20px auto;
}
.prod-info p {
  color: #000000;
  text-align: center;
}
.prod-info span {
  color: #5a1bf5;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #5a1bf5;
}